@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="row" style="text-align: center; margin-top: 200px;">
        <div class="col">
            <a class="btn btn-primary btn-block btn-responsive" style="background-color: #cccccc; border-color: #cccccc; color: #000000; font-size:1.5rem; padding: 20px;" href="https://appleid.apple.com/auth/authorize?client_id=@Html.DisplayFor(model => model.AppSettings.ClientId)&redirect_uri=@Html.DisplayFor(model => model.AppSettings.RedirectUri)&response_type=code%20id_token&scope=name%20email&response_mode=form_post&state=123"><i class="fab fa-apple"></i>&nbsp;&nbsp;&nbsp;Sign in with Apple</a>
        </div>
    </div>
</div>
